$main-font: Microsoft JhengHei;
$main-color: #6E6E6E;
$nav-font-color: #171717;
$title-color: #171717;
$hover-color: rgb(214,177,97);
$hero-color: #E3E3E3;
$history-title-color: #E3E3E3;
$history-title-bg-color: #171717;
$slide-title-color: rgb(214,177,97);
$slide-color: #E3E3E3;
$tutor-border-color: #DEDEDE;
$tutor-title-color: #171717;
$tutor-color: #E3E3E3;
$pill-hover-color: #363636;
$bar-bg-color: #9C9C9C;
$bar-color: rgb(214,177,97);
$bar-value-color: #171717;
$illus-color: #E3E3E3;
$contact-color: #E3E3E3;
$contact-btn-bg-color: #171717;
$footer-color: #171717;
$font-size: 12px;
$title-font-size: 18px;
$slide-title-font-size: 18px;
$bar-font-size: 11px;
$subtitle-font-size: 14px;
$desktop-font-size: 14px;
$desktop-title-font-size: 24px;
$desktop-subtitle-font-size: 16px;